<h1>Página 1</h1>

<h2>Basics</h2>

<p>

  <ol>
    <li>Pregunta 1: Qué es un <i>resource</i> en el contexto de una aplicación web REST en Ruby on Rails? <br />
    &emsp;&emsp;En el contexto de una aplicación en Ruby on Rails, un <i>resource</i> corresponde a cada una de las partes importantes de la aplicación, que se pueden localizar a través de una URL. Tiene gran similitud a un objeto en el contexto de programación orientada a objetos.</li>
    <li>Pregunta 2: Qué puede hacerse con un <i>resource</i>? <br />
    &emsp;&emsp;Un <i>resource</i> puede crearse, leerse, actualizarse y eliminarse.</li>
    <li>Pregunta 3: Qué es RESTful routing?<br />
    &emsp;&emsp;Es la ruta que provee una conexión entre los verbos de HTTP, las acciones del controlador de la aplicación, y las operaciones básicas de crear, leer, actualizar y eliminar. 
      <ul>
        <li>Cuántas acciones básicas tiene esta filosofía?<br />
          &emsp;&emsp;Tiene cuatro (4).</li>
        <li>Cuáles son?<br />
          &emsp;&emsp;Leer datos de una página Web. Permitir que el navegador haga una solicitud cuando el usuario manda un formulario. Y actualizar o eliminar cosas en el servidor remoto.</li>
        <li>Cuáles verbos HTTP se utilizan en cada una de ellas?<br />
          &emsp;&emsp;GET, POST, PATCH y DELETE.</li>
      </ul>
    </li>
  </ol>

</p>
