<h1>P&aacutegina 1</h1>

<h2>Basics</h2>

<p>

  <ol>
    <li>Pregunta 1: Qu&eacute es un <i>resource</i> en el contexto de una aplicaci&oacuten web REST en Ruby on Rails? <br />
    &emsp;&emsp;Es</li>
    <li>Pregunta 2: Qu&eacute puede hacerse con un <i>resource</i>? <br />
    &emsp;&emsp;Es</li>
    <li>Pregunta 3: Qu&eacute es RESTful routing?<br />
    &emsp;&emsp;Es
      <ul>
        <li>Cu&aacutentas acciones b&aacutesicas tiene esta filosof&iacutea?<br />
          &emsp;&emsp;Es</li>
        <li>Cu&aacuteles son?<br />
          &emsp;&emsp;Es</li>
        <li>Cu&aacuteles verbos HTTP se utilizan en cada una de ellas?<br />
          &emsp;&emsp;Es</li>
      </ul>
    </li>
  </ol>

</p>
