<h1>P&aacutegina 3</h1>

<h2>Git</h2>

<p>
  Resumen de las siguientes acciones usando solamente git por consola:
  <ul>
    <li>Inicialización de un repositorio de git nuevo en una aplicación existente<br />
    &emsp;&emsp;Es</li>
    <li>Creación de un branch nuevo<br />
    &emsp;&emsp;Es</li>
    <li>Realizar un commit incluyendo todos los cambios actuales<br />
    &emsp;&emsp;Es</li>
    <li>¿Cómo enviar el código al repositorio remoto?<br />
    &emsp;&emsp;Es</li>
    <li>¿Cómo configurar el origen del repositorio remoto para evitar escribirlo siempre cada vez que se hace un push o un pull?<br />
    &emsp;&emsp;Es</li>
    <li>Diferencia entre un reset y un revert<br />
    &emsp;&emsp;Es</li>
    <li>Además de cambiar de ramas, ¿para qué más se puede utilizar el comando git checkout?<br />
    &emsp;&emsp;Es</li>
    <li>¿Cómo puede ver los commits que se han ralizado en el proyecto?<br />
    &emsp;&emsp;Es</li>
    <li>He modificado dos archivos y quiero hacer un commit por cada uno de ellos, ¿cómo lo puedo hacer?<br />
    &emsp;&emsp;Es</li>
  </ul>

</p>