<h1>P&aacutegina 2</h1>

<h2>Ruby</h2>

<p>
  Resumen de las siguientes acciones:
  <ul>
    <li>Interpolaci&oacuten de strings<br />
    &emsp;&emsp;Es</li>
    <li>¿C&oacutemo se declara un array? y ¿c&oacutemo se adiciona un elemento al final del array?<br />
    &emsp;&emsp;Es</li>
    <li>¿C&oacutemo se itera un array utilizando el comando each?<br />
    &emsp;&emsp;Es</li>
    <li>¿C&oacutemo se declara un hash?<br />
    &emsp;&emsp;Es</li>
    <li>¿C&oacutemo se itera un hash utilizando el comando each?<br />
    &emsp;&emsp;Es</li>
    <li>¿Qu&eacute es un block en ruby? D&eacute un ejemplo de c&oacutemo utilizarlo<br />
    &emsp;&emsp;Es</li>
    <li>¿Cu&aacutel es la convenci&oacuten en Ruby a la hora de nombrar variables?<br />
    &emsp;&emsp;Es</li>
    <li>¿Qu&eacute son attr_reader, attr_writer y attr_accesor? Para qu&eacute sirven?<br />
    &emsp;&emsp;Es</li>
  </ul>

</p>